body {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;background-color: rgb(222, 252, 117);}

h1{font-size: 24px;text-align: center;text-transform: uppercase;}
h2{font-size: 18px;text-align: left;}
h3{font-size: 16px;text-align: left;}
p{font-size: 10px;}
footer{font-size: 10px;}


