
h1{
  margin: 30px;
  text-shadow: 5px 0 rgb(2, 173, 216);
  font-size: 4.5rem;
  color: rgb(8, 147, 202);
  text-align: center;
}
h2{
 
  text-shadow: 3px 0 rgb(2, 173, 216);
  font-size: 2rem;
  color: rgb(8, 147, 202);
}
h3{text-shadow: 3px 0 rgb(2, 173, 216);
  font-size: 2rem;
  color: rgb(8, 147, 202);

}
li{
  text-shadow: 3px 0 rgb(2, 173, 216);
  font-size: 2rem;
  color: rgb(8, 147, 202);
}

p{
  font-size: 2rem;
  color: crimson;
  text-shadow: none;
}
img{
  width: 50%;
}

.btn{
  background-color: darkred;
  font-family: "Roboto";
  border-radius: 7px;
  color: yellow;
  font-size: 20px;
  padding: 16px 25px 16px 25px;

}

.button {
  background-color: #016a9b;
  border: none;
  color: #ffffff;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
  height: 90px;
  width: 200px;
  font-size: 25px;
 
}
.button:before,
.button:after {
  border: 0 solid transparent;
  transition: all 0.25s;
  content: '';
  height: 24px;
  position: absolute;
  width: 24px;
}
.button:before {
  border-top: 2px solid #28c2ff;
  left: 0px;
  top: -5px;
}
.button:after {
  border-bottom: 2px solid #28c2ff;
  bottom: -5px;
  right: 0px;
}
.button:hover {
  background-color: #117add;
  color: rgb(253, 247, 247);
}
.button:hover:before,
.button:hover:after {
  height: 100%;
  width: 100%;
}
.botonp{
  text-align: center;
}

.juego{
  display: flex;
  justify-content: space-around;
  justify-items: center;
}
.dado{
  text-align: center;
  padding-bottom: 30px;
}
.resultadoc{
  height: 50px;
    margin-top: 170px;
    border: 0;
}